<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
     <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">

  <div class="main">
  <ion-item>
    <img src="assets\amy2.jpeg">
  </ion-item>
  
  <ion-item>
    <ion-icon slot="start" name="people"></ion-icon>Amy Alexandra Martinez
  </ion-item>
  
  <ion-item>
    <ion-icon slot="start" name="mail"></ion-icon>amyalexandra46@gmail.com
    </ion-item>
  
    <ion-item>
      <ion-icon slot="start" name="logo-linkedin"></ion-icon><a href="https://www.linkedin.com/in/amyalexandra/"> Amy Martinez</a>
    
      </ion-item>
      
      <ion-item>
        <ion-icon slot="start" name="logo-github"></ion-icon><a href="https://github.com/AmyAlexandra13">Amy Alexandra</a>
      </ion-item>
 
    </div>
</ion-content>
